.main-content {
  color: white;
  height: 100vh;
  font-size: 1.5rem;
  background-color: #5a3187;
}

.header {
  background: transparent;
  background-color: #444444;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.survey-container {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}

.form-label {
  font-size: 1.4rem;
  color: white;
}

.survey-form {
  width: 100%;
  height: 100%;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

